## Ignore Visual Studio temporary files, build results, etc
bin/
obj/
*.user
*.suo
*.userosscache
*.userprefs
.vs/
.vscode/

# NuGet Packages
packages/
*.nupkg

# Test results
TestResults/
coverage/
*.trx

# Project specific
lib/*.dll
!lib/.gitkeep
